*{
  margin:0;
  box-sizing: border-box;
}
body{
  font-family: 'JetBrains Mono', monospace;
  background-color: black;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top:6rem;
  padding-bottom:3rem;
 
 
}
.main__container{
  width: 540px;
 

  
  
}
.title{
  color:gray;
  display: flex;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5;
  font-weight:700;
}


@media only screen and (min-width:320px) and (max-width:480px){
  .main__container{
    margin-right:0.6rem;
    margin-left:0.6rem;
  }
  .title{
    font-size:1.2rem;
    
    
  }
 
}